@model Movie



<h1>Movie Details</h1>
<br /><br />

<p>Title :          @Model.Title</p>
<p>Cast :           @Model.Cast</p>
<p>Category :       @Model.Category</p>
<p>Release Date:    @Model.ReleaseDate</p>
<p>Budget :         @Model.Budget</p>